<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Résultats de la prédiction</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>

    <body>
        <img class="site_banner" src="static/drogue.jpg" alt="Logo Bookworm" style="width: 100%;" height="300" >
        <div class="response">
        <h1>Résultats de la prédiction : </h1>
          <br>
            {% for message in get_flashed_messages() %}
            <p class="rep"> {{ message }}</p>
            {% endfor %}
        </div>

        

    </body>